doctype html
html(lang="pt-br")
    head
        title    Bem vindo à Nino!
    body
        -var baseLink = "https://www.ninoapp.com.br/confirmacao?hash="
        -var link = baseLink + hash
        p    Bem vindo à Nino!
        p    Nino é uma plataforma de comunicação simples e eficiente que fortalece o vínculo entre pais e escolas infantis!
        a(href=link)    Clique aqui para confirmar seu email e registrar sua senha.
        br
        a(href="https://www.ninoapp.com.br")    ninoapp.com.br
        p    ———
        p    Welcome to Nino!
        p    Nino is a simple and efficient communication platform that enhances the bond between parents and preschools!
        a(href=link)    Click here to confirm your email and register your password.
        br
        a(href="https://www.ninoapp.com.br")    ninoapp.com.br
