doctype html
html(lang="pt-br")
    head
        title = "Confirmação de email"
    body
        -var baseLink = "https://www.ninoapp.com.br/confirmacao?hash="
        -var link = baseLink + hash
        a(href=link) Clique aqui para confirmar seu email